.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

p {
 margin: 0;
}

.card {
    width: min-content;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 12px;
}

.card-parameters{
    margin-top: 12px;
    display: flex;
    gap: 4px;
}

.card-parameter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 12px;
    padding: 8px;
}

button:hover {
    cursor: pointer;
    transition-duration: 1s;
}


#title {
    background-color: rgb(255, 206, 143);
}

#description {
    background-color: rgb(143, 242, 255);
}