@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

.container__cards {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;

  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 25px;
  justify-items: center;

  margin-block: 30px;
  padding: 50px 100px;

  background: linear-gradient(
    150deg,
    rgba(64, 210, 142, 1) 20%,
    rgba(83, 96, 159, 1) 40%,
    rgba(144, 34, 26, 1) 60%,
    rgba(144, 109, 26, 1) 80%
  );
}

.title {
  margin: 0;
  padding: 0;
}

.card {
  max-width: calc(100vw / 5);
  border-radius: 5px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 0 10px #fff;

  background-color: #fff;
}

.card img {
	width: 100%;
}

@media (width <= 900px) {
	.card h3 {
		font-size: .9em;
	}
}

@media (width <= 768px) {
	.container__cards {
		grid-template: auto / repeat(2, 1fr);
		padding: 25px 50px;
	}

	.card {
		max-width: calc(100vw / 3);
	}
}

@media (width <= 600px) {
	.card h3 {
		font-size: 0.8em;
	}
}

@media (width <= 500px) {
	.container__cards {
		grid-template: auto / 1fr;
	}

	.card {
		max-width: calc(100vw * 0.5);
	}

	.card h3 {
		font-size: 1.2em;
	}
}