.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;
}

.card-full {
	background-color: #faff00;
	padding: 48px;
}

.card-full__img {
	width: 100%;
}

.card-full__about {
	font-family: "Press Start 2P", sans-serif;
	font-size: 40px;
}

.card-full__info {
}

.card-info {
}

.card-info__title {
	font-size: 50px;
	font-weight: 100;
}

.card-info__content {
	display: flex;
	gap: 32px;
}

.card-info__info {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.card-info__small-title {
}

.card-info__small-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-info__text {
}
